<% if current_user == @profile %>
  <div class="title-center background-secondary pt-4 py-3 m-0 sticky-class sticky-class-2">
    <%= link_to "Profile", profile_path(current_user), class: "btn btn-primary col-4 mx-3" %>
    <%= link_to "Jams", dashboard_path, class: "btn btn-outline-primary col-4 mx-3" %>
  </div>
<% end %>
<div class="container scrollable" data-controller="popover">
  <% if current_user != @profile %>
    <div class="d-flex justify-content-end">
      <%= link_to "Message", chats_path(recipient: params[:id]) %>
    </div>
  <% end %>
  <%= render "layouts/show_card", user: @profile %>
  <div class="container">
    <%= render "layouts/show_bio", user: @profile %>
      <hr style="margin: 20px 0 20px 0">
    <%= render "layouts/show_genre", user: @profile %>
      <hr style="margin: 20px 0 20px 0">
    <%= render "layouts/show_instrument", user: @profile %>
      <hr style="margin: 20px 0 20px 0">
    <%= render "layouts/show_images", user: @profile %>
      <hr style="margin: 20px 0 20px 0">
  </div>

  <%# WARNING: Style, controllers etc. below %>
  <script>
    document.addEventListener("DOMContentLoaded", (e) => {
    const articleContainer = document.getElementById("collapsible-article");
    const fullArticle = document.getElementById("full-article");
    const readMoreBtn = document.getElementById("readMore");
    const truncatedArticle = document.getElementById("truncatedArticle");

      readMoreBtn.addEventListener("click", (e) => {
          if (fullArticle.classList.contains("hidden")) {
          fullArticle.classList.remove("hidden");
          truncatedArticle.classList.add("hidden")
          readMoreBtn.innerHTML = `<i class="fa-solid fa-chevron-up icon-resize"></i>`;
          } else {
          fullArticle.classList.add("hidden");
          truncatedArticle.classList.remove("hidden")
          readMoreBtn.innerHTML = `<i class="fa-solid fa-chevron-down icon-resize"></i>`;
          }
        });
    });
  </script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js">
  </script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
</div>
