<div class="schedule-form">
  <h2>Schedule a jam</h2>
  <%= simple_form_for(jam) do |f| %>
    <%= f.input :date,
      label: false,
      placeholder: 'select a date and time',
      required: true,
      autofocus: true %>
    <%= f.input :address,
      label: false,
      placeholder: "Address",
      required: true %>
    <%= f.hidden_field :participants, value: participants %>
    <%= f.submit "Create Jam", class: "btn btn-primary" %>
  <% end %>
</div>
