<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= chat.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
  <% if chat.messages.any? %>
      <% chat.messages.each do |msg| %>
        <div class="d-flex <%= msg.user == (current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <%= render "messages/message", message: msg %>
        </div>
      <% end %>
  <% end %>
  </div>
  <%= form_for :message, url: messages_path, html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>
    <%= hidden_field_tag "message[chatroom_id]", "#{chat.id}" %>
    <%= f.text_field :content, class: "form-control" %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
