<div class="title-center background-primary py-3 sticky-class">
  <%= link_to "Profile", profile_path(current_user), class: "btn btn-outline-primary col-4 me-5" %>
  <%= link_to "Jams", dashboard_path, class: "btn btn-primary col-4 me-5" %>
</div>
<%= render 'shared/user_dash_card', user: @user %>
  <% @months.each do |month| %>
    <div class="month-units py-2 ps-5">
      <h3><%= Date::MONTHNAMES[month] %></h3>
        <% @jams.each do |jam| %>
          <% if jam.date.mon == month %>
            <div class="m-2 py-4 jam-card">
              <%= render 'jam_info', jam: jam %>
            </div>
          <% end %>
        <% end %>
    </div>
    <hr class="my-2">
  <% end %>
</div>
