
<div class="card-img-top d-flex flex-column justify-content-start align-items-center" style="background-image: url('http://res.cloudinary.com/drxcsc3ye/image/upload/v1693476762/purple_background.png');">
  <div class="pt-7">
    <%= render 'layouts/search_form' %>
  </div>
</div>
<div class="container pt-3">
  <hr class="py-2">
  <div class="title-center">
    <h1>local jamsters</h1>
  </div>
  <% @profiles.each do |profile| %>
    <%= link_to profile_path(profile) do %>
      <%= render "layouts/user_summary", user: profile %>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-center pb-5" style="width:100vw;">
    <button class="btn btn-primary">
      <% if current_user %>
        <%= link_to "join the jam", profiles_path %>
      <% else %>
        <%= link_to "join the jam", user_session_path %>
      <% end %>
    </button>
  </div>
</div>
